/*index page css*/

.container {
  text-align: center;
  margin-top: 50px;
}

.info {
  width: 300px;
  text-align: justify;
}

.btn {
  background-color: #595959;
  size: 20px;
  color: white;
  padding: 5px 5px;
  border-radius: 8%;
  font-size: small;
}
.btn:hover {
  background-color: blue;
}

.main_container {
  display: flex;
  margin-top: 50px;

  justify-content: space-evenly;
}
.flex_container1 {
  height: 400px;
  width: 300px;
}

.main_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  height: 100%;
  width: 100%;
}
.thumbnail {
  border: 1px solid;
  border-color: black;
  background-color: #595959;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.items-2 button {
  float: left;
  cursor: pointer;
}

.items-2 button:not(:last-child) {
  border-right: none;
}
/*form page css*/

.form_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  border: 1px;
  border-color: black;
  border-radius: 3px;
  background-color: darkslateblue;
  height: 35px;
  width: 35px;
  text-align: center;
  color: white;
}

.item3 {
  height: 30px;
  border-radius: 1px;
}
.submit {
  width: 180px;
  background-color: cornflowerblue;
  height: 30px;
  color: white;
  border-radius: 3px;
  border: 0px;
}
.submit:hover {
  background-color: #595959;
}

/*price page css*/

a:hover,
a:active {
  background-color: cornflowerblue;
}
a {
  color: black;
  text-decoration: none;
  block-size: 10px;
}

label {
  margin-top: 10px;
  height: 30px;
  width: 180px;
  text-align: center;
}

.p_container {
  display: flex;
  flex-direction: column;
}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.item_1 {
  border: 1px solid lightgrey;
  padding: 10px;
}
.title {
  border-bottom: 1px solid rgb(250, 248, 248);
}
.menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn_signup {
  border-color: cornflowerblue;
  color: cornflowerblue;
  background-color: white;
}
.menu_2 {
  text-align: center;
}
.main_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Todo page css */

.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_container {
  width: 400px;
  height: 200px;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 18px;
  padding: 10px;
  list-style-type: none;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: darkgray;
}
ul li.checked {
  text-decoration: line-through;
}
.box {
  text-align: center;
  background-color: #202020;
  color: white;
  padding: 10px;
}
.box:after {
  content: "";
  clear: both;
  display: table;
}
#txtId {
  margin: 0px;
  padding: 8px;
  width: 75%;
  float: left;
  font-size: 15px;
  border: none;
}
.addBtn {
  margin: 0px;
  float: left;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  background: lightgray;
  width: 60px;
  text-align: center;
  color: black;
}
.addBtn:hover {
  background: darkgray;
}
.close{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px ;
}
.close:hover{
  background-color: #202020;
  color: white;
}
